div
    div(data-hz-resource="HzSoupLetter", data-opt-hz-soup-letter-words = ['word1','word2','word3','word4','word5'])
        div(data-hz-soup-letter-board)
        div(data-hz-soup-letter-list)
            p(data-hz-soup-letter-left)
            button(data-hz-soup-letter-solve) Resolver
